.back {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  color: var(--light-text-color);
}