.button {
  position: absolute;
  right: 20px;
  top: 8px;
  color: var(--separator-color);
  height: 24px;
  width: 25px;
  cursor: pointer;
 // background-color: white;
}
.container {
  position: relative;
}
.error{
  color: var(--error-color);
}
.container:focus-within .button svg {
  color: var(--text-secondary-color);
}
.visible {
  stroke: var(--separator-color);
  fill: transparent;
}
.errorVisible {
  stroke: var(--error-color)
}
.container:focus-within .visible {
  stroke: var(--text-secondary-color);
}

