.container {
  position: absolute;
  top: 0;
  left: 20px;
  width: 443px;
  padding: 6px 12px;
  border-radius: 20px;
  border: 1px solid var(--text-color);
  background-color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}