.button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  padding: 4px 10px;
  border-radius: 20px;
  background-color: var(--text-secondary-color);
  color: white;
  font-size: 16px;
  font-weight: 800;
  line-height: 28px;
  border: none;
  align-self: center;
}

.container {
  width: 570px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: start;
  box-shadow: 0px 0px 20px 0px #12003033;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.title {
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
  text-align: left;
}
.salary {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: var(--text-secondary-color);
}
.highlight {
  padding: 8px 12px;
  border-radius: 20px;
  background-color: var(--green-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.nameCompany {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}
.city {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.save {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 20px;
  top: 20px;
  border-radius: 20px;
  background-color: var(--light-purpul-color);
  width: 44px;
  height: 40px;
  img {
    height: 20px;
    width: 20px;
  }
}
.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.element {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  color: var(--text-secondary-color);
}
.allelements {
  gap: 20px;
}