.container {
  display: flex;
  flex-direction: column;
  width: 594px;
  position: relative;
}
.image {
  height: 320px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  background-color: #afaeae;
}
.content {
  height: 150px;
  padding: 20px;
  border-radius: 0 0 20px 20px;
  background-color: var(--background-purpul);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.stat {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
.stats {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  color: var(--text-secondary-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
}
.statsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.date {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #6E667C;
}
.title {
  text-align: start;
  font-size: 20px;
  font-weight: 800;
  line-height: 28px;
}
.description {
  text-align: start;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.save {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--background-purpul);
  img {
    width: 12px;
    height: 16px;
  }
}