.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 460px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.checkbox {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  a {
    text-decoration: underline;
    font-weight: 600;
  }
}